# IBI Data

In [25]:
import pandas as pd
import numpy as np

In [2]:
IBI11 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S11/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI12 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S12/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI13 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S13/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI14 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S14/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI15 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S15/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI16 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S16/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI17 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S17/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI18 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S18/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI19 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S19/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI20 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S20/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI21 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S21/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI22 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S22/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI23 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S23/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI24 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S24/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI25 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S25/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI26 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S26/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI27 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S27/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI28 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S28/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI29 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S29/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI30 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S30/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI31 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S31/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI32 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S32/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI33 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S33/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI34 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S34/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])
IBI35 = pd.read_csv('https://raw.githubusercontent.com/italha-d/Stress-Predict-Dataset/main/Raw_data/S35/IBI.csv',skiprows=[0],names=['IBI1','IBI2'])

In [3]:
#Create ID for each participant
# List of dataframes
dataframes = [IBI11, IBI12, IBI13, IBI14, IBI15, IBI16, IBI17, IBI18, IBI19, IBI20, IBI21, IBI22, IBI23, IBI24, IBI25, IBI26, IBI27, IBI28, IBI29, IBI30, IBI31, IBI32, IBI33, IBI34, IBI35]

# Iterate through each dataframe and assign a unique ID
for i, df in enumerate(dataframes):
    df['ID'] = 'S' + str(i+11).zfill(2)

In [4]:
#Concatenate all IBI datasets
concat_IBI = [IBI11, IBI12, IBI13, IBI14, IBI15, IBI16, IBI17, IBI18, IBI19, IBI20, IBI21, IBI22, IBI23, IBI24, IBI25, IBI26, IBI27, IBI28, IBI29, IBI30, IBI31, IBI32, IBI33, IBI34, IBI35]
IBI = pd.concat(concat_IBI, axis=0)

In [5]:
#Create all the start time for each ID
start_values = [1644852028, 1645434908, 1645442647, 1645444063, 1645446989, 1645449146, 1645456369, 1645457685, 1646039930, 1646041789, 1646048637, 1646050723, 1646052269, 1646059181, 1646061149, 1646062904, 1646646345, 1646655386, 1646656769, 1646657973, 1646665728, 1646667379, 1646828080, 1646836594, 1646838724]

for i, start_time in enumerate(start_values):
    ID = 'S{}'.format(i+11)
    IBI.loc[IBI['ID'] == ID, 'Initial_Time'] = start_time

In [6]:
#Convert Time column to date-time format
IBI['Initial_Time'] = pd.to_datetime(IBI['Initial_Time'], unit='s')

In [7]:
print(IBI)

             IBI1      IBI2   ID        Initial_Time
0       11.859375  0.640625  S11 2022-02-14 15:20:28
1       12.500000  0.640625  S11 2022-02-14 15:20:28
2       13.140625  0.640625  S11 2022-02-14 15:20:28
3       13.734375  0.593750  S11 2022-02-14 15:20:28
4       25.125000  0.671875  S11 2022-02-14 15:20:28
...           ...       ...  ...                 ...
1105  3256.296875  0.921875  S35 2022-03-09 15:12:04
1106  3306.687500  0.484375  S35 2022-03-09 15:12:04
1107  3307.296875  0.609375  S35 2022-03-09 15:12:04
1108  3344.734375  0.781250  S35 2022-03-09 15:12:04
1109  3345.750000  1.015625  S35 2022-03-09 15:12:04

[33700 rows x 4 columns]

In [8]:
# Group the data by windows
def group_data_by_windows(data, window_size):
    grouped_data = data.groupby('ID')
    all_windows = []

    for _, group in grouped_data:
        window_start = group['time'].min()
        window_end = window_start + pd.Timedelta(seconds=window_size)

        windows = []

        while window_end <= group['time'].max():
            window_data = group[(group['time'] >= window_start) & (group['time'] < window_end)]
            windows.append(window_data)
            window_start = window_end
            window_end += pd.Timedelta(seconds=window_size)

        all_windows.extend(windows)

    return all_windows

In [10]:
IBI['time'] = IBI.apply(lambda row: row['Initial_Time'] + pd.Timedelta(seconds=row['IBI1']), axis=1)

In [11]:
windows = group_data_by_windows(IBI, 5)

In [12]:
peak_to_peak_data = []

for window in windows:
    if not window.empty:
        peak_to_peak = window['IBI2'].max() - window['IBI2'].min()
        window_start_time = window['time'].min()
        window_id = window['ID'].iloc[0]
        peak_to_peak_data.append({'ID': window_id, 'Timestamp': window_start_time, 'Peak_to_Peak': peak_to_peak})

peak_to_peak_df = pd.DataFrame(peak_to_peak_data)

In [17]:
print(peak_to_peak_df)

       ID           Timestamp  Peak_to_Peak
0     S11 2022-02-14 15:20:40      0.046875
1     S11 2022-02-14 15:20:53      0.015625
2     S11 2022-02-14 15:21:00      0.000000
3     S11 2022-02-14 15:21:00      0.046875
4     S11 2022-02-14 15:21:13      0.062500
...   ...                 ...           ...
7602  S35 2022-03-09 16:04:17      0.000000
7603  S35 2022-03-09 16:05:10      0.000000
7604  S35 2022-03-09 16:05:22      0.015625
7605  S35 2022-03-09 16:06:19      0.046875
7606  S35 2022-03-09 16:07:11      0.125000

[7607 rows x 3 columns]

In [16]:
peak_to_peak_df['Timestamp'] = peak_to_peak_df['Timestamp'].dt.round('S')

In [18]:
IBI = peak_to_peak_df.rename(columns={'Timestamp': 'Time'})

In [ ]:
IBI = IBI.rename(columns={'Timestamp': 'Time'})

In [19]:
IBI

       ID                Time  Peak_to_Peak
0     S11 2022-02-14 15:20:40      0.046875
1     S11 2022-02-14 15:20:53      0.015625
2     S11 2022-02-14 15:21:00      0.000000
3     S11 2022-02-14 15:21:00      0.046875
4     S11 2022-02-14 15:21:13      0.062500
...   ...                 ...           ...
7602  S35 2022-03-09 16:04:17      0.000000
7603  S35 2022-03-09 16:05:10      0.000000
7604  S35 2022-03-09 16:05:22      0.015625
7605  S35 2022-03-09 16:06:19      0.046875
7606  S35 2022-03-09 16:07:11      0.125000

[7607 rows x 3 columns]

In [20]:
IBI.to_csv('IBI_peaktopeak.csv')

In [21]:
data = pd.read_csv('data.csv')

In [26]:
IBI['Time'] = IBI['Time'].astype(np.int64) // 10**9

In [30]:
data['Time'] = pd.to_datetime(data['Time'])

In [31]:
data['Time'] = data['Time'].astype(np.int64) // 10**9

In [33]:
data = pd.merge(data, IBI, on=['Time', 'ID'], how='outer')

In [36]:
data = data.drop(['Unnamed: 0', 'IBI_detected'], axis=1)

In [43]:
data

,HR,Time,ID,BVP,TEMP,EDA,ACC,Stress,Peak_to_Peak
0,56.00,1644852028,S11,-0.00,27.25,0.000000,36.706039,0.0,0.046875
1,55.67,1644852029,S11,-0.00,27.25,0.060219,36.762709,0.0,0.046875
2,55.75,1644852030,S11,-0.00,27.25,0.060219,36.762709,0.0,0.046875
3,57.40,1644852031,S11,-0.00,27.25,0.060219,36.762709,0.0,0.046875
4,57.00,1644852032,S11,-0.00,27.25,0.120438,36.762709,0.0,0.046875
...,...,...,...,...,...,...,...,...,...
89820,65.37,1646842231,S35,38.43,33.55,0.481407,37.834261,0.0,0.125000
89821,65.42,1646842232,S35,38.43,33.55,0.480766,37.834261,0.0,0.125000
89822,65.45,1646842233,S35,38.43,30.81,0.363384,37.834261,0.0,0.125000
89823,65.47,1646842234,S35,38.43,30.81,0.363384,37.834261,0.0,0.125000
89824,65.50,1646842235,S35,38.43,30.81,0.363384,37.834261,0.0,0.125000

In [38]:
data['Peak_to_Peak'] = data['Peak_to_Peak'].interpolate()

In [42]:
data = data.bfill()

In [44]:
data['Peak_to_Peak'].isna().sum()

0

In [45]:
data = data.rename(columns={'Peak_to_Peak': 'IBI'})

In [46]:
data.to_csv('data_peakIBI.csv')